$container-width: 1200px;
$base_fz: 16px;

$main-color: #36aeea;
$secondary-color: #95a5ad;
$muted-text-color: #949494;
$headings-color: #2c2e37;
$regular-text-color: #383e4a;
$footer-text-color: #7ecada;
$journal-description-color: #777;

$dotted-overlay: url('../images/backgrounds/dotted_overlay.png') 0 0 repeat;

@mixin maxw($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin minw($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin font-size($font-size) {
    font-size: $font-size / $base_fz * 1rem;
}

@mixin social-link-bg($background-color) {

    background-color: $background-color;

    &:hover {
        background-color: lighten($background-color, 10%);
    }

    &:active {
        background-color: darken($background-color, 10%);
        transform: scale(.9);
    }
}