$lg: 1200px;
$main-color: #36aeea;
$secondary-color: #95a5ad;
$muted-text-color: #949494;
$headings-color: #2c2e37;

@mixin maxw($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin minw($width) {
    @media (min-width: $width) {
        @content;
    }
}