footer.page-footer
    .container
        .footer-panel
            .copyright All rights reserved 2017
            ul.social-links
                li.social-link.twitter: a(href='//vk.com')
                li.social-link.facebook:  a(href='//vk.com')
                li.social-link.vk:  a(href='//vk.com')
            a.footer-phone(href='tel:1-234-234-234') 1 234 234 234