header
    .menu-panel
        .container
            a.logo(href='/')
                span.logo--bright Moun
                span.logo--muted tains
            nav.main-navigation
                ul
                    li our story
                    li.nav-active services
                    li work
                    li journal
                    li contact
                    li work
                    li journal
            a.btn.btn--hollow.btn--callback call us
    .hero
        .container
            .hero__wrapper
                .hero__outer
                    .hero__inner
                        h1.hero__heading
                            span.hero__heading.hero__heading--regular Travel with us
                            br
                            span.hero__heading.hero__heading--fantasy to the Mountains
                        p.hero__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, libero!
                        a.btn.btn--solid.btn--big.hero__btn order now
                        .hero__man
                            img(src='images/man.png', alt='cool man')