ul.testimonials-list
    li.testimonial
        blockquote.testimonial__text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis sapiente sint aut at, explicabo, cumque repellat voluptatem, officia rerum optio. Rerum nemo, maiores optio hic eligendi eius in praesentium!
        .testimonial__author
            .testimonial__avatar
                img(src='images/avatars/man_1.jpg', alt='avatar')
            .testimonial__name
                b Pavliv Yaroslav
                span.testimonial__job  Web designer
    li.testimonial
        blockquote.testimonial__text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis sapiente sint aut at, explicabo, cumque repellat voluptatem, officia rerum optio. Rerum nemo, maiores optio hic eligendi eius in praesentium!
        .testimonial__author
            .testimonial__avatar
                img(src='images/avatars/man_2.jpg', alt='avatar')
            .testimonial__name
                b Pavliv Yaroslav
                span.testimonial__job  Web designer