ul.locations
    -
        var locations = [
            {
                name: 'Carpathians',
                description: ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
                rating: 4,
                price: 793,
                oldPrice: 3150,
                class: 'carpathian',
                href: '#'
            },
            {
                name: 'Alps',
                description: 'Consectetur ipsum dolor sit amet,  adipisicing.',
                rating: 5,
                price: 1893,
                oldPrice: 3250,
                class: 'alps',
                href: '#'
            },
            {
                name: 'Pyrenees',
                description: ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
                rating: 4,
                price: 2593,
                oldPrice: 3150,
                class: 'pyrenees',
                href: '#'
            },
            {
                name: 'Rocky',
                description: ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
                rating: 4,
                price: 2123,
                oldPrice: 3150,
                class: 'rocky',
                href: '#'
            },
            {
                name: 'Kavkaz',
                description: ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
                rating: 4,
                price: 593,
                oldPrice: 3150,
                class: 'kavkaz',
                href: '#'
            }
        ]

    each item in locations
        +location(item)