@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:300,400,700');
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:300,400,700');
.logo, .hero__heading--fantasy {
  font-family: 'Kaushan Script', cursive; }

body {
  font-family: 'Open Sans', sans-serif; }

body {
  overflow-x: hidden; }
  body * {
    box-sizing: border-box; }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto; } }

.container:after {
  content: '';
  display: table;
  clear: both; }

p {
  line-height: 1.5;
  margin: 1.5rem 0; }

.menu-panel {
  padding: 30px 0;
  background-color: rgba(255, 255, 255, 0.35); }

.logo {
  display: inline-block;
  font-size: 2rem; }
  .logo--bright {
    color: #36aeea; }
  .logo--muted {
    color: #95a5ad; }

.main-navigation {
  display: inline-block;
  margin: 0 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #95a5ad; }
  .main-navigation li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    cursor: pointer; }

.nav-active, .main-navigation li:hover {
  border-bottom: 2px solid #36aeea; }

.btn {
  display: inline-block;
  padding: 13px 30px;
  text-transform: uppercase;
  background-color: #36aeea;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer; }
  .btn--hollow {
    background: none;
    border: 2px solid #36aeea;
    color: #36aeea; }
  .btn--callback {
    float: right;
    padding-left: 40px;
    padding-right: 40px; }
  .btn--big {
    font-size: 15px;
    padding: 18px 65px; }

header {
  background-image: url("../images/backgrounds/hero.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.hero {
  overflow: visible; }
  .hero__wrapper {
    padding: 149px 0 134px;
    overflow: hidden; }
  .hero__outer {
    position: relative;
    border: 3px solid #fff;
    border-bottom: none;
    color: #fff; }
    .hero__outer:after {
      position: absolute;
      z-index: 15;
      content: '';
      display: block;
      height: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 3px solid white; }
  .hero__inner {
    max-width: 50%;
    padding: 40px; }
  .hero__heading {
    display: inline-block;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: bold; }
    .hero__heading--fantasy {
      color: #36aeea;
      font-size: 60px;
      font-weight: normal;
      text-transform: none; }
  .hero__description {
    color: #95a5ad; }
  .hero__man {
    position: absolute;
    z-index: 10;
    right: 113px;
    top: -135px; }

.section__heading {
  position: relative;
  margin: 40px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  color: #2c2e37; }
  .section__heading--small {
    font-size: 20px; }
  .section__heading:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -35px;
    width: 80px;
    height: 8px;
    background-repeat: no-repeat;
    background-image: url("../images/wave.svg"); }
  .section__heading--left {
    text-align: left; }
    .section__heading--left:before {
      left: 0;
      right: auto;
      margin: 0; }

.about {
  padding-bottom: 40px;
  background: url("../images/backgrounds/dotted-map.png") 60% 50px no-repeat; }
  .about__description {
    width: 35%;
    float: left; }
  .about__photos {
    width: 65%;
    float: left;
    padding-left: 50px; }
  .about-image--small {
    position: relative;
    z-index: 30;
    margin-top: -230px; }
  .about-image--big {
    position: relative;
    z-index: 25;
    margin-top: -45px;
    margin-left: 100px; }
  .about__container {
    display: flex;
    align-items: center; }
  .about__heading {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 35px; }
    .about__heading:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -35px;
      width: 80px;
      height: 8px;
      background-repeat: no-repeat;
      background-image: url("../images/wave.svg"); }
  .about p {
    color: #949494; }

.section--gray {
  background-color: #f6f4f4; }

.journal {
  overflow: hidden;
  padding: 60px 0; }
  .journal-grid {
    overflow: hidden;
    max-width: 1140px;
    margin: 0 auto;
    box-shadow: 0px 0px 21px 0px rgba(6, 6, 6, 0.13); }
  .journal-item {
    width: 33.3333%;
    max-width: 380px;
    display: flex;
    flex-direction: column; }
    .journal-item--wide {
      width: 66.6666%;
      max-width: 760px;
      flex-direction: row; }
    .journal-item__description, .journal-item__picture {
      height: 380px; }
    .journal-item__picture {
      position: relative;
      font-size: 0; }
    .journal-item__description {
      position: relative;
      padding: 15px;
      text-align: center; }
      .journal-item__description:before {
        content: '';
        display: block;
        position: absolute;
        left: calc(50% - 7.5px);
        top: -15px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom-color: #fff;
        border-top: none; }
      .journal-item__description--right:before {
        content: '';
        display: block;
        position: absolute;
        left: -15px;
        top: 50px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-right-color: #fff;
        border-left: none; }
      .journal-item__description--left {
        order: -1; }
        .journal-item__description--left:before {
          content: '';
          display: block;
          position: absolute;
          left: auto;
          right: -15px;
          top: 50px;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-left-color: #fff;
          border-right: none; }
    .journal-item__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 82px;
      height: 82px;
      transform: translate(-50%, -50%); }
    .journal-item__category {
      font-size: 11px;
      font-weight: bold;
      color: #36aeea;
      text-transform: uppercase; }
    .journal-item__heading {
      margin: 2rem 0;
      font-size: 1rem;
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: bold; }
    .journal-item__details {
      max-width: 80%;
      margin: 0 auto; }
    .journal-item__count {
      position: absolute;
      padding: 25px;
      width: 100%;
      bottom: 0;
      left: 0;
      font-family: 'Times New Roman', serif;
      font-style: italic; }

.newsletter-subscribe {
  padding: 150px 0;
  background: url("../images/backgrounds/mountains_and_trees.jpg") 0 0 no-repeat; }

.workflow {
  padding: 80px 0; }

/*# sourceMappingURL=styles.css.map */
