//- Includes
include includes/mixins.pug

//- Page code
doctype html
html
    head
        title= 'Mountains Travel'

        meta(charset='utf-8')

        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='author' content='Лисин Константин')

        meta(name="keywords" content='')
        meta(name="description" content="HTML5 template")

        //- Project styles
        link(rel='stylesheet', href='css/styles.css')
    body
        header
            .menu-panel
                .container
                    .logo
                        span.logo--bright Moun
                        span.logo--muted tains
                    nav.main-navigation
                        ul
                            li our story
                            li.nav-active services
                            li work
                            li journal
                            li contact
                            li work
                            li journal
                    a.btn.btn--hollow.btn--callback call us
            .hero
               .container
                    .hero__wrapper
                        .hero__outer
                            .hero__inner
                                h1.hero__heading
                                    span.hero__heading.hero__heading--regular Travel with us
                                    br
                                    span.hero__heading.hero__heading--fantasy to the Mountains
                                p.hero__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, libero!
                                a.btn.btn--solid.btn--big.hero__btn order now
                                .hero__man
                                    img(src='images/man.png', alt='cool man')
        .page-content
            section.about.section--gray
                .container.about__container
                    .about__description
                        h3.about__heading about us
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in esse aspernatur veniam perspiciatis quidem eum necessitatibus, alias dolorem illo quis explicabo ab, aperiam et!
                        a.btn.btn--solid read more
                    .about__photos
                        img(src='images/mnt_girls.jpg' alt='' class='about-image about-image--big')
                        img(src='images/mnt_guy.jpg' alt='' class='about-image about-image--small')
            section.journal
                .container
                    h2.section__heading our journals
                    .journal-grid
                        +journal_item(true)
                        +journal_item()
                        +journal_item(true, 'left')
                        +journal_item()
                        +journal_item(true, 'left')
                        +journal_item(true, 'right')
            section.newsletter-subscribe.section--gray
                //- Parallax scrolling here or bg pos fixed
                .container
                    h2.section__heading.section__heading--small.section__heading--left do you wanna go?
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        br
                        |Quasi sunt fugit cum, ducimus doloremque expedita ratione reiciendis.
                    .input-group
                        .input-group__fields
                            input(type="text" placeholder='Your name:' class='input-group__text-input')
                            input(type="text" placeholder='Your phone:' class='input-group__text-input')
                            input(type="submit" value='order now' class='btn')
                        .input-group__hint * Your data will not be transfered
            section.workflow
                .container
                    h2.section__heading how we work
                    ul.stages
                        -for (var i = 0; i < 4; i++)
                            +stage()
            section.travel-offers
                .container
                    h2.section__heading travel with us
                    ul.locations
                        -for (var i = 0; i < 5; i++)
                            +location()

            section.gallery
                .container
                    .images-masonry-grid
                        .masonry__tile
                            img(src='' alt='')

            section.companies
                ul.companies-list
                    li.company
                        img(src='' alt='')

            section.testimonials
                .container
                    h2.section__heading our clients say
                    ul.testimonials-list
                        li.testimonials
                        blockquote.testimonial__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis sapiente sint aut at, explicabo, cumque repellat voluptatem, officia rerum optio. Rerum nemo, maiores optio hic eligendi eius in praesentium!
                        .testimonial__author
                            .testimonial__avatar
                            .testimonial__name
                                b Pavliv Yaroslav
                                span.testimonial__job Web designer
                    .contacts
                        form.contact-form
                            h3.contact-form__heading contacts
                            p.contact-form__description Sign up for our newsletter to recieve updates
                            fieldset
                                input(type='text' placeholder='Name')
                                input(type='text' placeholder='Phone')
                                input(type='text' placeholder='E-mail')
                                input(type='submit' value='send')
        footer
            .container
                .copyright all rights reserved 2015
                ul.social-links
                    li.social-link.twitter
                    li.social-link.facebook
                    li.social-link.vk
                .phone 1 234 234 234
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='//unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
        script(src='js/scripts.js')