//- Includes
include includes/mixins.pug

//- Page code
doctype html
html
    head
        title= 'Mountains Travel'

        meta(charset='utf-8')

        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='author' content='Лисин Константин')

        meta(name="keywords" content='')
        meta(name="description" content="HTML5 template")

        //- Project styles
        link(rel='stylesheet', href='css/styles.css')
    body
        header
            .menu-panel
                .container
                    .logo
                        span.logo--bright Moun
                        span.logo--muted tains
                    nav.main-navigation
                        ul
                            li our story
                            li.nav-active services
                            li work
                            li journal
                            li contact
                            li work
                            li journal
                    a.btn.btn--hollow.btn--callback call us
            .hero
               .container
                    .hero__wrapper
                        .hero__outer
                            .hero__inner
                                h1.hero__heading
                                    span.hero__heading.hero__heading--regular Travel with us
                                    br
                                    span.hero__heading.hero__heading--fantasy to the Mountains
                                p.hero__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, libero!
                                a.btn.btn--solid.btn--big.hero__btn order now
                                .hero__man
                                    img(src='images/man.png', alt='cool man')
        .page-content
            section.about.section--gray
                .container.about__container
                    .about__description
                        h3.about__heading about us
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in esse aspernatur veniam perspiciatis quidem eum necessitatibus, alias dolorem illo quis explicabo ab, aperiam et!
                        a.btn.btn--solid read more
                    .about__photos
                        img(src='images/mnt_girls.jpg' alt='' class='about-image about-image--big')
                        img(src='images/mnt_guy.jpg' alt='' class='about-image about-image--small')
            section.journal
                .container
                    h2.section__heading our journals

                    include includes/journal.pug

            section.newsletter-subscribe.section--gray
                .container
                    h2.section__heading.section__heading--small.section__heading--left do you wanna go?
                    p.newsletter__description.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        br
                        |Quasi sunt fugit cum, ducimus doloremque expedita ratione reiciendis.
                    .input-group
                        .input-group__fields
                            input(type="text" placeholder='Your name:' class='input-group__text-input')
                            input(type="text" placeholder='Your phone:' class='input-group__text-input')
                            input(type="submit" value='order now' class='btn')
                        .input-group__hint
                            include ../dev/images/svg/lock.svg

                            |&nbsp;* Your data will not be transfered
            section.workflow
                .container
                    h2.section__heading how we work

                    include includes/stages.pug

            section.travel-offers
                .container
                    h2.section__heading travel with us

                    include includes/locations.pug

            section.gallery
                .container
                    h2.section__heading Gallery

                    include includes/gallery.pug

            section.companies.section--gray
                .container
                    include includes/companies.pug

            section.testimonials
                .container
                    h2.section__heading our clients say

                    include includes/testimonials.pug

                    .contacts
                        form.contacts-form
                            h3.contacts-form__heading contacts
                            p.contacts-form__description Sign up for our newsletter to recieve updates
                            fieldset
                                input(type='text' class='contacts-form__input' placeholder='Name')
                                input(type='text' class='contacts-form__input' placeholder='Phone')
                                input(type='text' class='contacts-form__input' placeholder='E-mail')
                                input(type='submit' class='contacts-form__input btn' value='send')
        footer.page-footer
            .container
                .footer-panel
                    .copyright All rights reserved 2017
                    ul.social-links
                        li.social-link.twitter: a(href='//vk.com')
                        li.social-link.facebook:  a(href='//vk.com')
                        li.social-link.vk:  a(href='//vk.com')
                    .footer-phone 1 234 234 234
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='//unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
        script(src='js/scripts.js')